$input_material_highlight_color: #3874ff;
$input_material_color: #151515;
$input_material_label_color: #333;

$input_material_highlight_color_inverse: #ffffff;
$input_material_color_inverse: #c2c2c2;
$input_material_label_color: #c2c2c2;
