<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogToConsole="false"
      internalLogLevel="Trace">
  <variable name="logDirectory" value="C:\logs\etohum.nextstep"/>
  <extensions>
    <!-- load NLog.Extended to enable ASP.NET-specific functionality -->
    <add assembly="NLog.Extended" />
  </extensions>

  <targets>
    <target xsi:type="File" name="etohumLogger"
            layout="[${date:format=HH-mm-ss}]: [${pad:padCharacter=0:padding=5:fixedLength=true:inner=${threadid}}]  [${level}]  ${logger} ${message} ${onexception:[EXCEPTION]\:${exception:format=type, message, method:maxInnerExceptionLevel=8:innerFormat=shortType, message, method, stacktace}${newline}}"
            filename="${logDirectory}\${date:format=yyy}\${date:format=MM-dd}\${date:format=HH}.log"
            keepFileOpen="false"
            encoding="UTF-8" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="etohumLogger" />
  </rules>
</nlog>